<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <title>ツール選択</title>
</head>

<body>
  <!-- ツールを選択してください。 -->
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>ツール選択</h1>
        <p>ツールを選択してください。</p>
      </div>
    </div>
    <!-- リスト一覧 -->
    <!-- nameを表示 -->
    <div class="row">
      <div class="col-md-12">
        <ul class="list-group">
          <li class="list-group-item">
            <a href="/tools/waitlist">WaitList</a>
          </li>
          <li class="list-group-item">
            <a href="/tools/webapi_webui">WebAPIをブラウザから叩けるようにするもの</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</body>
</body>

</html>
