<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Document</title>
</head>

<body>
    <div id="app">
        <!--画面上部にキーワード検索用のテキストボックスを配置-->
        <h1>ポケモン種族値検索ツール</h1>
        <p>任意のポケモンの名前を入力し、検索ボタンを押すと結果が表示されます。例「ギラティナ」「エルレイド」「ドラピオン」<br>画像表示は現在作成中</p>
        <div class="row">
            <div class="col-md-12">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="キーワードを入力してください" v-model="keyword">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" @click="search">検索</button>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <!--検索結果の表示-->
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>図鑑番号</th>
                            <th>名前</th>
                            <th>すがた</th>
                            <th>タイプ</th>
                            <th>特性</th>
                            <th>隠れ特性</th>
                            <th>HP</th>
                            <th>攻撃</th>
                            <th>防御</th>
                            <th>特攻</th>
                            <th>特防</th>
                            <th>素早さ</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="pokemon in pokemons">
                            <td>{{pokemon.no}}</td>
                            <td>{{pokemon.name}}</td>
                            <td>{{pokemon.form}}</td>
                            <td>{{pokemon.types}}</td>
                            <td>{{pokemon.abilities}}</td>
                            <td>{{pokemon.hiddenAbilities}}</td>
                            <td>{{pokemon.stats.hp}}</td>
                            <td>{{pokemon.stats.attack}}</td>
                            <td>{{pokemon.stats.defence}}</td>
                            <td>{{pokemon.stats.spAttack}}</td>
                            <td>{{pokemon.stats.spDefence}}</td>
                            <td>{{pokemon.stats.speed}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <hr>
        <div id="row">
            <!-- 画像の表示をカード形式で -->
            <div class="col-md-3" v-for="pokemon in pokemons">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" :src="pokemon.img" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{pokemon.name}}</h5>
                        <p class="card-text">{{pokemon.form}}</p>
                    </div>
                </div>
            </div>
        </div>
        <script>
            //444527ef99a3dedd8515cce81066e5378aa2b0c8512d97dc9ddd73c4bdb52c2f.jsonを変数に格納する
            const data = 'https://gist.githubusercontent.com/na2na-p/309c5a0297d4c1d107c4f94d618e9e20/raw/fa29bf714835f36a28e46cfa1191737c24fe49a7/444527ef99a3dedd8515cce81066e5378aa2b0c8512d97dc9ddd73c4bdb52c2f.json';
            var app = new Vue({
                el: '#app',
                data: {
                    keyword: '',
                    pokemons: []
                },
                //data.nameの中にkeywordが含まれているものを検索してpokemonsに格納する
                methods: {
                    search: function () {
                        axios.get(data).then(response => {
                            this.pokemons = response.data.filter(pokemon => {
                                //types,abilities,hiddenAbilitiesから[]を外す。
                                pokemon.types = pokemon.types.join('/');
                                pokemon.abilities = pokemon.abilities.join('/');
                                pokemon.hiddenAbilities = pokemon.hiddenAbilities.join('/');
                                //pokemon.thumbnailに"`https://www.serebii.net/sunmoon/pokemon/${pokemon.no < 10 ? '00' : pokemon.no < 100 ? '0' : ''}${pokemon.no}.png`;"を追加する
                                pokemon.img = `https://www.serebii.net/sunmoon/pokemon/${pokemon.no < 10 ? '00' : pokemon.no < 100 ? '0' : ''}${pokemon.no}.png`;
                                //set_actual_ico_urlを実行する
                                return pokemon.name.indexOf(this.keyword) !== -1;
                            });
                        });
                    },
                }
            });
        </script>
</body>

</html>